@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 210 0% 98%;
    --black: 0 0% 7%;
    --background: 210 0% 95%;
    --background-elevation-1: 210 0% 98%;
    --background-elevation-2: 210 0% 88%;
    --background-elevation-3: 210 0% 78%;
    --background-elevation-4: 210 0% 68%;
    --background-elevation-5: 210 0% 58%;
    --background-elevation-6: 210 0% 48%;
    --foreground: 0 0% 7%;
    --card: 210 0% 98%;
    --card-foreground: 0 0% 7%;
    --popover: 210 0% 98%;
    --popover-foreground: 0 0% 7%;
    --primary: 217 91% 51%;
    --primary-foreground: 210 0% 98%;
    --secondary: 210 0% 98%;
    --secondary-foreground: 0 0% 7%;
    --muted: 210 0% 98%;
    --muted-foreground: 0 0% 7%;
    --accent: 217 91% 51%;
    --accent-foreground: 210 0% 98%;
    --destructive: 356 71% 48%;
    --destructive-foreground: 210 0% 98%;
    --warning: 40 100% 30%;
    --warning-foreground: 210 0% 98%;
    --confirm: 137 63% 33%;
    --confirm-foreground: 210 0% 98%;
    --border: 0 0% 80%;
    --input: 210 0% 98%;
    --ring: 217 91% 51%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --white: 210 0% 98%;
    --black: 0 0% 7%;
    --background: 0 0% 7%;
    --background-elevation-1: 0 0% 12%;
    --background-elevation-2: 0 0% 22%;
    --background-elevation-3: 0 0% 32%;
    --background-elevation-4: 0 0% 42%;
    --background-elevation-5: 0 0% 52%;
    --background-elevation-6: 0 0% 65%;
    --foreground: 210 0% 98%;
    --card: 0 0% 12%;
    --card-foreground: 210 0% 98%;
    --popover: 0 0% 12%;
    --popover-foreground: 210 0% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 0% 98%;
    --secondary: 0 0% 22%;
    --secondary-foreground: 210 0% 98%;
    --muted: 0 0% 12%;
    --muted-foreground: 210 0% 85%;
    --accent: 217 91% 60%;
    --accent-foreground: 210 0% 98%;
    --destructive: 2 91% 61%;
    --destructive-foreground: 0 0% 12%;
    --warning: 41 72% 48%;
    --warning-foreground: 210 0% 98%;
    --confirm: 132 59% 33%;
    --confirm-foreground: 210 0% 98%;
    --border: 0 0% 22%;
    --input: 210 0% 98%;
    --ring: 217 91% 60%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
